
* {
  border: none;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body {
  font-family: sans-serif;
  font-size: 16px;
  padding-bottom: 3rem;
}

h1 {
  padding: 1rem;
  text-align: center;
}

h3 {
  padding: 1rem 0 .5rem;
}

label {
  display: inline-block;
  padding: .5rem 0;
  width: 100%;
}

input {
  box-shadow: 0px 0px 0px 1px #000000;
  font: inherit;
  outline: none;
  padding: .5rem;
}

.container {
  width: 1024px;
  margin: 0px auto;
}

.g-line {
  display: flex;
  justify-content: space-between;
  // margin-bottom: 1rem;
}

.g-column-3 {
  width: calc(calc(100% / 3) - 1%);
}

.input-text {
  margin-bottom: 1rem;
}

.input-text input[type=text] {
  display: inline-block;
  width: 100%;
}

.input-unique {
  select {
    margin-right: 1rem;
    padding: .5rem;
    width: 100%;
  }
}

.button-group {
  a.button {
    display: inline-block;
    font-weight: bold;
    padding: .5rem 0;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

}

button.button {
  display: inline-block;
  font-weight: bold;
  padding: 1rem;
}

.right-button-group {
  text-align: right;

  button.button {
    text-align: center;
  }
}

hr.hr {
  margin: 2rem 0;
}

.g-column-10 { width: 10%; }
.g-column-90 { width: 90%; }
.g-column-50 { width: 50%; }
.g-column-100 { width: 100%; }

.g-line {
  & > .g-column-10 { width: calc(10% - .5rem); }
  & > .g-column-50 { width: calc(50% - .5rem); }
  & > .g-column-90 { width: calc(90% - .5rem); }
  // & > .g-column-100 { width: calc(100% - .5rem); }
}
