
* {
  border: none;
  box-sizing: border-box;
  margin: 0rem;
  outline: none;
  padding: 0rem;
}

html,
body {
  font-family: sans-serif;
  font-size: 16px;
  padding-bottom: 3rem;
}

h1 {
  padding: 1rem;
  text-align: center;
}

h3 {
  padding: 1rem 0 .5rem;
}

label {
  display: inline-block;
  padding: .5rem 0;
  width: 100%;
}

input {
  box-shadow: 0rem 0rem 0rem calc(1rem / 16) #000000;
  font: inherit;
  outline: none;
  padding: .5rem;
}

.container {
  width: 64rem;
  margin: 0rem auto;
}

.g-line {
  display: flex;
  justify-content: space-between;
}

.g-column-3 {
  width: calc(calc(100% / 3) - 1%);
}

.input-text {
  margin-bottom: 1rem;
}

.input-text input[type=text] {
  display: inline-block;
  width: 100%;
}

.input-unique {
  select {
    margin-right: 1rem;
    padding: .5rem;
    width: 100%;
  }
}

.button-group {
  a.button {
    display: inline-block;
    font-weight: bold;
    padding: .5rem 0;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

button.button {
  display: inline-block;
  font-weight: bold;
  padding: 1rem;
}

.right-button-group {
  text-align: right;

  button.button {
    text-align: center;
  }
}

.line {
  box-shadow: 0rem 0rem 0rem calc(1rem / 16) #000000;
  display: inline-block;
  height: 0rem;
  margin: 0rem;
  padding: 0rem;
  width: 100%;
}

.g-column-10 { width: 10%; }
.g-column-25 { width: 25%; }
.g-column-33 { width: calc(100% / 3); }
.g-column-50 { width: 50%; }
.g-column-75 { width: 75%; }
.g-column-90 { width: 90%; }
.g-column-100 { width: 100%; }

.g-line {
  & > .g-column-10 { width: calc(10% - .5rem); }
  & > .g-column-25 { width: calc(25% - .5rem); }
  & > .g-column-33 { width: calc(calc(100% / 3) - .5rem); }
  & > .g-column-50 { width: calc(50% - .5rem); }
  & > .g-column-75 { width: calc(75% - .5rem); }
  & > .g-column-90 { width: calc(90% - .5rem); }
  & > .g-column-100 { width: calc(100% - .5rem); }
}
