<div class="container">

  <div class="input-text">
    <label for="id-name">Nome:</label>
    <input type="text" >
  </div>

  <div class="grid-line">
    <div class="grid-column">
      <div class="input-text">
        <label for="id-name">Data de nascimento:</label>
        <input type="text" >
      </div>
    </div>
    <div class="grid-column">
      <div class="input-text">
        <label for="id-name">Estado civil:</label>
        <input type="text" >
      </div>
    </div>
    <div class="grid-column">
      <div class="input-text">
        <label for="id-name">Número de filhos:</label>
        <input type="text" >
      </div>
    </div>
  </div>

  <div class="input-text">
    <label for="id-name">Endereço:</label>
    <input type="text" >
  </div>


  <h3>Contatos</h3>

  <div *ngFor="let contact of form.contact_list">
    
    <div class="grid-line">
      <div class="input-unique field-job-title">
        <select>
          <option *ngFor="let contact_type of contact_types" value="{{ contact_type.key }}">{{ contact_type.value }}</option>
        </select>
      </div>
      <div class="input-text field-job-name">
        <input type="text" placeholder="">
      </div>
    </div>

  </div><!-- Contatos -->

  <div class="button-group">
    <a href="#" class="button">Adicionar contato</a>
  </div>

  <h3>Experiências</h3>

  <div *ngFor="let experience of form.experience_list">

    <div class="grid-line">
      <div class="input-unique field-job-title">
        <select>
          <option *ngFor="let job_type of job_types" value="{{ job_type.key }}">{{ job_type.value }}</option>
        </select>
      </div>
      <div class="input-text field-job-name">
        <input type="text" placeholder="Engenheiro">
      </div>
    </div>

    <div class="grid-line">
      <div class="input-text field-job-employee">
        <input type="text" placeholder="Microsoft">
      </div>
      <div class="input-text field-job-address">
        <input type="text" placeholder="New York, Miami, USA">
      </div>
    </div>

    <div class="grid-line">
      <div class="input-text field-job-date-begin">
        <input type="text" placeholder="01/1990">
      </div>
      <div class="input-text field-job-date-end">
        <input type="text" placeholder="01/1990">
      </div>
    </div>

  </div><!-- Experiências -->

  <div class="button-group">
    <a href="#" class="button">Adicionar experiência</a>
  </div>

  <h3>Formações</h3>

  <div *ngFor="let formation of form.formation_list">
    <div class="input-text">
      <label for="id-name">Contato:</label>
      <input type="text" >
    </div>
  </div><!-- Formações -->

  <div class="button-group">
    <a href="#" class="button">Adicionar formação</a>
  </div>

</div>
